body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.app {
  text-align: center;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 100px 20px;
  background: #f4f4f4;
}

.hero h1 {
  font-size: 3rem;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
}

/* PROJECTS */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  padding: 20px;
  background: #111;
  color: white;
}
.profilepic {
  height: 100px;
  width: auto;
}